<header class="cabecalho">
  <img
    src="https://trello-attachments.s3.amazonaws.com/5d619df7e4e53a53ad7b92d4/5d622897a1258b18a528611c/9917e3fd87bc93e491fd70698344e539/cadastro.svg"
    alt="" srcset="">
</header>

<main>
  <form action="/action_page.php">
    <div class="area">
      Email:<br>
      <input type="text" class="form" name="Email">
    </div>
    <div class="area">
      Senha:<br>
      <input type="password" class="form" name="Senha">
    </div>
    <div class="area">
      Confirma Senha:<br>
      <input type="password" class="form" name="Senha">
    </div>
    <div class="termo">
      <p>
        Ao clicar em Confirmar, você concorda com os seguintes Termos e Condições.
      </p>
    </div>
    <div class="confirmar">
      <input type=image
        src="https://trello-attachments.s3.amazonaws.com/5d619df7e4e53a53ad7b92d4/5d622897a1258b18a528611c/be608fa381dba188e7d63d133abbbf06/confirmar.svg">
    </div>
  </form>
</main>