<header class="cabecalho">
  <img
    src="https://trello-attachments.s3.amazonaws.com/5d619df7e4e53a53ad7b92d4/5d6227e5f947527d2add2399/2f877d7fe01fce61ffee8223300a3d89/Fazer_Login.svg"
    alt="" srcset="">
</header>

<main>
  <form class="form-login">
    <div class="area">
      Email:<br>
      <input [(ngModel)]="email" type="text" class="form" name="Email">
    </div>
    <div class="area">
      Senha:<br>
      <input [(ngModel)]="senha" type="password" class="form" name="Senha">
    </div>
    <div class="confirmar" (click)="logar()">
      <input type=image
        [src]=img>
    </div>
  </form>
<!--  <div class="sociais">-->
<!--    <img class=".google"-->
<!--      src="https://trello-attachments.s3.amazonaws.com/5d619df7e4e53a53ad7b92d4/5d6227e5f947527d2add2399/881c94b1d925b833501e5fe01a878404/google.svg" />-->

<!--    <img-->
<!--      src="https://trello-attachments.s3.amazonaws.com/5d619df7e4e53a53ad7b92d4/5d6227e5f947527d2add2399/56aae5830d4f9555f680d989df658bff/facebook.svg" />-->
<!--  </div>-->
</main>
