.Cadastrar {
    width: 182px;
    height: 48px;
    font-family: AvenirLTStd;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #080040;
  }