.profile{
    position: absolute;
    right: 84%;
    top: 2.6%;

}
.text-cardapio{
    position: absolute;
    right: 39.7%;
    top: 2.6%;

    
}

.notification{

    position: absolute;
    left: 86%;
    top: 2.6%;
    
}

.btn-lotes{
    position: absolute;
    left: 7.5%;
    top: 10.8%;
    
}

.btn-validar{

    position: absolute;
    right: 5.5%;
    top: 7.5%;
    
}

.box{
    position: absolute;
    left: 4%;
    top: 26%;
}

.box2{
    position: absolute;
    left: 4%;
    top: 58%;
}

.card-parceiro{
    position: absolute;
    left: 4%;
    top: 30%;
}