.form {
    margin-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    height: 25px;
    background-color: #ffffff;
}

.area {
    font-size: 12px;
    margin-left: 10%;
    margin-top: 10px;
}

.cabecalho {
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 20%;
}

.termo {
    width: 80%;
    margin-left: 10%;
    font-size: 12px;
    margin-top: 40px;
}

.confirmar {
    margin-top: 20px;
    margin-bottom: 15%;
    float: right;
}

.rodape {
    width: 80%;
    margin-left: 10%;
}
.comp-menu{
    background: url("../../assets/img/menu-dependentes.svg") no-repeat ;
    background-position-y: -20px;
    width: 100%;
    padding: 30px;
    min-height: 30px;
    display: flex;
    flex-direction: row;
}
.comp-menu:first-child.comp-menu:last-child{
    display: inline-block;
    width: 100%;
    height: 100%;
}


