<header class="cabecalho">
  <img
    src="https://trello-attachments.s3.amazonaws.com/5d619df7e4e53a53ad7b92d4/5d625c1582371e3e755e491f/a061673c01b1080aa24c76082acb171b/title_cadastro_dependente.svg"
    alt="" srcset="">
</header>

<main>
  <form action="/action_page.php">
    <div class="area">
      Nome:<br>
      <input type="text" class="form" name="nome">
    </div>
    <div class="area">
      Data de Nascimento:<br>
      <input type="password" class="form" name="dt_nascimento">
    </div>
    <div class="area">
      Email:<br>
      <input type="password" class="form" name="email">
    </div>
    <div class="area">
      Senha:<br>
      <input type="password" class="form" name="email">
    </div>
    <div class="area">
      Confirma Senha:<br>
      <input type="password" class="form" name="email">
    </div>
    <div class="termo">
      <p>
        Ao clicar em Confirmar, você concorda com os seguintes Termos e Condições.
      </p>
    </div>
    <div class="confirmar">
      <input type=image
        src="https://trello-attachments.s3.amazonaws.com/5d619df7e4e53a53ad7b92d4/5d622897a1258b18a528611c/be608fa381dba188e7d63d133abbbf06/confirmar.svg">
    </div>
  </form>
</main>